/* =================================
Nav Styles
==================================== */

body {
    font-family: "Futura", sans-serif;
}

a {
    color: white;
}

a:hover {
    color: #D35400;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 3px;
    right: 2px;
    background: transparent;
    z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    padding: 14px 1.25em;
    border-radius: 16px;
    text-decoration: none;
    font-size: 1.25em;
}

.topnav a:first-child {
  display: none;
}

.topnav a:last-child {
  size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover:not(:last-child){
    text-decoration: underline;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #D35400;
    color: white;
}

#logo {
    z-index: 100;
    display: none;
}

.subnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.subnav a {
  font-family: "Montserrat", sans-serif;
  color: dimgrey;
  font-size: 1.15em;
}

.subnav a:hover {
  color: darkgrey;
  text-decoration: none;
}

#active {
  color: #D35400;
}

/* =================================
Header Styles
==================================== */

.jumbotron {
  background-color: lightgrey;
  }

  /* =================================
  Content Styles
  ==================================== */

.main {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15em;
  width: 90%;
  text-align: justify;
  margin: auto;
}

.btn {
  font-family: "Futura", sans-serif;
  color: #D35400;
  font-size: 1.15em;
  text-decoration: none;
}

.btn:hover {
  color: darkgrey;
  text-decoration: none;
}

/* =================================
Footer Styles
==================================== */

.wrapper {
  position: relative;
  margin-bottom: 2em;
}

.footerwrapper {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

#facebook {
  margin-right: 2em;
}

.contact,
.copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.contact {
  margin-bottom: .5em;
}

/* =================================
Media Queries
==================================== */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }

  .topnav.responsive {
      flex-direction: column;
  }

  .topnav.responsive a:first-child {
    margin-top: 1.5em;
  }

}

@media screen and (max-width: 350px) {
  .contact,
  .copyright {
    font-size: .85em;
}

@media (min-width: 601px) {

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#logo {
  width: 5em;
  height: 4.9em;
  display: flex;
  position: absolute;
  top: 3px;
  left: 8px;
  background: transparent;
}

#logo :hover {
  cursor: pointer;
  border-radius: 16px;
}

.subnav {
  font-size: 1.15em;
}

.main {
  font-family: "Montserrat" sans-serif;
  font-size: 1.25em;
  width: 80%;
}
}

@media (min-width: 768px) {

.footerwrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.social {
  order: 1;
  align-items: center;
  margin-bottom: 0;
}

#facebook {
  margin-left: -3.5em;
}

.contact {
  order: 0;
  margin-bottom: 0;
}

.copyright {
  order: 2;
}
}
