/* Nav Bar Style  */

#logo {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
    overflow:hidden;
    transition: background-color .5s;
}

.navigation {
    height: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: visible;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #000;
    opacity: .85;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:right;
    list-style:none;
    margin-left:auto;
    margin-right:40px;
}

.menulist {
    width:200px;
    padding-bottom: 5px;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color: #fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  float: right;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top: 12px;
    padding-bottom: .12px;
    text-decoration: none;
    list-style:none;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  padding-bottom: 4px;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    right: 10px;
    font-size: 36px !important;
    z-index:100;
    color: white;
    cursor:pointer;
    transition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}


/* =================================
 Hero Styles
==================================== */

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background: url('../images/hero_vid_sg.png');
    /* background: linear-gradient(#779fa1, transparent 98%), linear-gradient(0deg, #fff, transparent), url('../images/hero_vid_sg.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-bottom: 2em;

}

.hero h1 {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 4.5em;
  margin-top: 175px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 2px;
}

.hero h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: lighter;
  letter-spacing: 3.5px;
}

h2::before,
h2::after {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 1px;
  background: white;
  margin: 5px 10px;
}

/* For test purposes: */
/*
:root {
  background: darkgrey;
} */

/* MEDIA Queries */
@media (min-width: 768px) {

#logo {
  width: 50px;
  height: 42px;
  float: left;
  display: inline-block;
  position: absolute;
  top: 3;
  left: 2;
  background: transparent;
}

.menuitems {
  display: inline-block;
  color: #000;
  float: right;

}

#topNav {
  display: none;
}
