/* =================================
Nav Styles
==================================== */

#logo {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
    overflow:hidden;
    transition: background-color .5s;
}

.navigation {
    height: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: visible;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    padding-bottom: 2px;
    /* background-color: #000; */
    /* opacity: .85; */
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top: 30px;
    text-align: right;
    list-style: none;
    margin-left: auto;
    margin-right: 40px;
}

.menulist {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color: #fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  float: right;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color: white;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color: white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color: white;
  top:-7px;
}

.menuitems {
    padding-top: 3px;
    padding-bottom: 1em;
    padding-right: .6em;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    text-align: left;
    color: #fff;
    opacity: 0.0;
    transition: all .5s ease-in-out;
}

.menuitems:hover {
  text-decoration-line: underline;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    right: 10px;
    font-size: 36px !important;
    z-index:100;
    color: white;
    cursor:pointer;
    transition: background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align: center;
    margin: auto;
    padding: 16px;
    font-size: 30px;
}

/* =================================
 Hero Styles
==================================== */

.hero {
    /* Sizing */
    width: 100%;
    height: 100%;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background: url('../images/IMG_1914.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.hero h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 4em;
  margin-bottom: .15em;
  letter-spacing: 2px;
}

.hero h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 3em;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: lighter;
  letter-spacing: 3.5px;
}

h2::before {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 1px;
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
}

.laurel {
  align-items: center;
  margin-bottom: 5em;
}

.button {
  font-family: arial;
  text-transform: uppercase;
  font-size: 1em;
  padding: .65em 2em;
  border-radius: 1em;
  margin-bottom: 15px;
  background-color: lightgrey;
}

.button:hover {
  background-color: #5e5456;
  color: white;
  cursor: pointer;
}

/* MEDIA Queries */
@media (min-width: 768px) {

/* #logo {
  width: 50px;
  height: 42px;
  display: flex;
  position: absolute;
  top: 3;
  left: 2;
  background: transparent;
} */

/* #id,
.menu-items {
  display: flex;
  flex-direction: row;
}

.menuitems {
  justify-content: space-between;
} */

.hero h1 {
  margin-top: 4em;
  font-size: 4em;
}

.hero h2 {
  font-size: 1.5em;
}

.laurel {
  align-items: center;
  margin-bottom: 4.5em;
}

.button {
  margin-bottom: 4em;
}
}
