/* =================================
Nav Styles
==================================== */

#logo {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
    /* overflow: hidden; */
    transition: background-color .5s;
}

.navigation {
    height: 1em;
    width: 100%;
    position: absolute;
    /* top: 0;
    z-index: 1;
    overflow: visible;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    padding-bottom: 2px; */
    /* background-color: #000; */
    /* opacity: .85; */
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top: 30px;
    text-align: right;
    list-style: none;
    margin-left: auto;
    margin-right: 40px;
}

.menulist {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}

.menuitems {
    padding-top: 3px;
    padding-bottom: 1em;
    padding-right: .6em;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    text-align: left;
    color: #000;
    opacity: 0.0;
    transition: all .5s ease-in-out;
}

.menuitems:hover {
  text-decoration-line: underline;
}

#id,
.menu-items {
  display: flex;
  flex-direction: row;
}

.menuitems {
  justify-content: space-between;
}

/* =================================
 Hero Styles
==================================== */

.hero {
    /* Sizing */
    width: 100%;
    height: 175%;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background: url('../images/IMG_1914.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.hero h1 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 4em;
  margin-bottom: .15em;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 2em;
  color: #000;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: lighter;
  letter-spacing: 3.5px;
}

h2::before {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 1px;
  background: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo {
    display: none;
}

#overlay {
  width: 100vw;
  height: 250vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.75);
}

.play-button {
    height: 4.4em;
    width: 4.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.play-button:hover {
  cursor: pointer;
}

.spacer {
  height: 15%;
}

.about-section {
  font-family: "Montserrat" sans-serif;
  font-size: 1.35em;
  width: 95%;
  margin: auto;
  font-style: bold;
}

.laurel {
  width: 50%;
  margin: 5em auto 5em auto;
  padding-top: 5em;
  align-items: center;
}

.button {
  font-family: arial;
  text-transform: uppercase;
  font-size: 1em;
  padding: .65em 4em;
  border-radius: 1em;
  margin-bottom: 15px;
  background-color: #000;
  color: #fff;
}

.button:hover {
  background-color: #D35400;
  color: white;
  cursor: pointer;
}

/* =================================
Media Queries
==================================== */

@media (min-width: 768px) {

#logo {
  width: 90px;
  height: 88px;
  display: flex;
  position: fixed;
  top: 3px;
  left: 2px;
  background: transparent;
}

.hero h1 {
  margin-top: 3em;
  font-size: 4em;
}

.hero h2 {
  font-size: 1.5em;
}

.laurel {
  align-items: center;
  margin-bottom: 4.5em;
}

.button {
  margin-bottom: 4em;
}
}
